{% extends 'base.html.twig' %}

{% block title %}{{ wish.title }} | {{ parent() }}{% endblock %}

{% block body %}
    <h1 class="text-center">{{ wish.title }}</h1>
    <div>
        <ul>
            <li>Description : {{ wish.description }}</li>
            <li>Author : {{ wish.author }}</li>
            <li>Created date :{{ wish.dateCreated |format_datetime('short', 'none', locale='fr') }}</li>
            {% if wish.categories is not null %}
                <li>Categorie : {{ wish.categories.name }}</li>
            {% else %}
                <li>Categorie : Not define</li>
            {% endif %}

        </ul>
    </div>
{% endblock %}




